extends ../_subpage.pug

block head
    title 第1グラウンド

block main
    h1 第1グラウンド
    h2 第1グラウンドの企画一覧
    table.project
        tr
            th.name 企画名
        each section in projects
            each project in section.contents
                if project.place === '第1グラウンド'
                    tr
                        td.name: a(href='/projects/'+project.address) #{project.name}
