extends ../_subpage.pug

block head
    title 中庭・新中庭

block main
    h1 中庭・新中庭
    h2 中庭・新中庭の企画一覧
    table.project
        tr
            th.name 企画名
            th.place 場所
        each section in projects
            each project in section.contents
                if project.place.indexOf('中庭') !== -1
                    tr
                        td.name: a(href='/projects/'+project.address) #{project.name}
                        td.place #{project.place}
