extends ../_subpage.pug

block head
    title 視聴覚室・東館

block main
    h1 視聴覚室・東館
    h2 視聴覚室・東館の企画一覧
    table.project
        tr
            th.name 企画名
            th.place 場所
        each section in projects
            each project in section.contents
                if (project.place.indexOf('東館') !== -1) || (project.place.indexOf('視聴覚教室') !== -1)
                    tr
                        td.name: a(href='/projects/'+project.address) #{project.name}
                        td.place #{project.place}
