// このページは、灘校文化委員会から委託を受けた70回生@hideo54が作成しました。
// コードは https://github.com/hideo54/NadaCultureFest2017 で閲覧することができます。
// hideo54's wishlist: https://wishlist.hideo54.com/

meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='stylesheet' href='/css/style.css')
link(rel='stylesheet' href='/css/font-awesome.css')

// Icons
link(rel='apple-touch-icon' sizes='152x152' href='/images/icon-152.png')
link(rel='icon' href='/images/icon.png')

// Google Analytics
script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-98144459-1', 'auto');
    ga('send', 'pageview');

// Twitter Card
meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='@Nada_festival71')
meta(name='twitter:title' content='第71回 灘校文化祭')
meta(name='twitter:description' content='第71回灘校文化祭 “Seek it!” 公式HPです! 文化祭最新詳細情報をあなたに! 5月2日、3日お待ちしております!')
meta(name='twitter:image' content='https://fest.nada.sc/71st/images/icon.png')

// Open Graph Protocol
meta(property='og:title' content='第71回 灘校文化祭')
meta(property='og:type' content='website')
meta(property='og:url' content='https://fest.nada.sc/71st/')
meta(property='og:image' content='https://fest.nada.sc/71st/images/icon.png')
meta(property='og:description' content='第71回灘校文化祭 “Seek it!” 公式HPです! 文化祭最新詳細情報をあなたに! 5月2日、3日お待ちしております!')

// Config
meta(name='format-detection' content='telephone=no')
