meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='stylesheet' href='css/style.css')
link(rel='stylesheet' href='css/font-awesome.css')

// Twitter Card
meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='@Nada_festival71')
meta(name='twitter:title' content='第71回 灘校文化祭')
meta(name='twitter:description' content='第71回灘校文化祭 “Seek it!” 公式HPです! 文化祭最新詳細情報をあなたに! 5月2日、3日お待ちしております!')
meta(name='twitter:image' content='url')

// Config
meta(name='format-detection' content='telephone=no')
