doctype html
html(lang='ja')
    head
        include _head.pug
        block head
    body
        header.sub: .content
            img(src='/images/logo.svg' width='40px' height='30px')
            p seek it!
            a(href='/') トップに戻る
        main.sub
            block main
        footer
            include _footer.pug
