extends _subpage.pug

block head
    title 1日目タイムテーブル

block main
    h1 1日目タイムテーブル
    h2 イベントタイムテーブル
    .image-wrapper: img(src='/images/day1-1.png' width='596px' height='425px')
    h2 常設タイムテーブル
    .image-wrapper: img(src='/images/day1-2.png' width='596px' height='425px')
