extends _subpage.pug

block head
    title ギャラリー

block main
    h1 ギャラリー
    .gallery
        .image#IMG_0481
        .image#IMG_0482
        .image#IMG_0486
        .image#IMG_0489
        .image#IMG_0492
        .image#IMG_0515
        .image#IMG_0521
        .image#IMG_0531
        .image#IMG_0532
        .image#IMG_0558
        .image#IMG_0559
        .image#IMG_0563
        .image#IMG_0564
        .image#IMG_0565
        .image#IMG_0566
        .image#IMG_0567
        .image#IMG_0569
        .image#IMG_0570
        .image#IMG_0571
        .image#IMG_0575
        .image#IMG_0578
        .image#IMG_0595
        .image#IMG_0598
        .image#IMG_0968
        .image#IMG_0969
        .image#IMG_0970
        .image#IMG_0971
        .image#IMG_0972
        .image#IMG_0973
        .image#IMG_0976
        .image#IMG_0977
        .image#IMG_0978
        .image#IMG_0979
        .image#IMG_0980
    style.
        .gallery {
            display: flex;
            flex-wrap: wrap;
        }
        .image {
            width: 180px;
            height: 150px;
            margin: 0.5em;
        }
        .image#IMG_0481 {
            background-image: url('/images/gallery/IMG_0481.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0482 {
            background-image: url('/images/gallery/IMG_0482.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0486 {
            background-image: url('/images/gallery/IMG_0486.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0489 {
            background-image: url('/images/gallery/IMG_0489.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0492 {
            background-image: url('/images/gallery/IMG_0492.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0515 {
            background-image: url('/images/gallery/IMG_0515.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0521 {
            background-image: url('/images/gallery/IMG_0521.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0531 {
            background-image: url('/images/gallery/IMG_0531.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0532 {
            background-image: url('/images/gallery/IMG_0532.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0558 {
            background-image: url('/images/gallery/IMG_0558.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0559 {
            background-image: url('/images/gallery/IMG_0559.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0563 {
            background-image: url('/images/gallery/IMG_0563.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0564 {
            background-image: url('/images/gallery/IMG_0564.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0565 {
            background-image: url('/images/gallery/IMG_0565.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0566 {
            background-image: url('/images/gallery/IMG_0566.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0567 {
            background-image: url('/images/gallery/IMG_0567.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0569 {
            background-image: url('/images/gallery/IMG_0569.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0570 {
            background-image: url('/images/gallery/IMG_0570.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0571 {
            background-image: url('/images/gallery/IMG_0571.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0575 {
            background-image: url('/images/gallery/IMG_0575.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0578 {
            background-image: url('/images/gallery/IMG_0578.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0595 {
            background-image: url('/images/gallery/IMG_0595.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0598 {
            background-image: url('/images/gallery/IMG_0598.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0968 {
            background-image: url('/images/gallery/IMG_0968.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0969 {
            background-image: url('/images/gallery/IMG_0969.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0970 {
            background-image: url('/images/gallery/IMG_0970.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0971 {
            background-image: url('/images/gallery/IMG_0971.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0972 {
            background-image: url('/images/gallery/IMG_0972.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0973 {
            background-image: url('/images/gallery/IMG_0973.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0976 {
            background-image: url('/images/gallery/IMG_0976.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0977 {
            background-image: url('/images/gallery/IMG_0977.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0978 {
            background-image: url('/images/gallery/IMG_0978.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0979 {
            background-image: url('/images/gallery/IMG_0979.JPG');
            background-position: center center;
            background-size: cover;
        }
        .image#IMG_0980 {
            background-image: url('/images/gallery/IMG_0980.JPG');
            background-position: center center;
            background-size: cover;
        }
