extends _subpage.pug

block head
    title グッズ販売

block main
    h1 グッズ販売
    article
        h2 生徒会企画グッズ
        section
            h3 定期入れ (紺 / 黒) 800円
            img(src='/images/goods/pass-case.jpg' alt='定期入れ' width='300px' height='206px')
            p 灘の校章とシックな色遣いで毎日の通学も楽しくなります！
        section
            h3 トートバッグ (ナチュラル) 700円
            img(src='/images/goods/tote-bag.jpg' alt='トートバッグ' width='184px' height='300px')
            p オリジナルマークとロゴをうまく融合させたシンプルな一品。ちょっとお出掛けにもどうぞ！
        section
            h3 デザインクリアホルダー (黒 / 緑) 250円
            img(src='/images/goods/clear-plastic-folder.jpg' alt='デザインクリアホルダー' width='300px' height='208px')
            p 科学実験をイメージしてカラフルに作りました。勉強のやる気アップ間違いなし！
        section
            h3 Tシャツ (白 / 黒)(S / M / L) 1,500円
            img(src='/images/goods/t-shirt-1.jpg' alt='Tシャツ' width='300px' height='249px')
            img(src='/images/goods/t-shirt-2.jpg' alt='Tシャツ' width='300px' height='251px')
            p 灘校文化祭初のTシャツ一般販売！白と黒のベースに赤のロゴとオリジナルマークを入れたモダンなデザインです！
        section
            h3 デザインキーホルダー (茶 / クリーム / 黒) 500円
            img(src='/images/goods/key-ring.jpg' alt='デザインキーホルダー' width='300px' height='225px')
            p 校章入りレザー製のラウンドタイプ。落ち着いたデザインで手持ちのグッズを引き立たせます！
    article
        h2 育英会企画グッズ
        section
            h3 灘文字消しゴム(赤・緑・青) 200円
            img(src='/images/goods/eraser.jpg' alt='消しゴム' width='300px' height='298px')
            p “灘”の文字をかたどった色付き消しゴム！カバーもバリエーションがあり、クールなデザインです！
        section
            h3 バンダナ(えんじ・深緑・紺) 600円
            img(src='/images/goods/bandanna1.jpg' alt='バンダナ' width='100px' height='100px')
            img(src='/images/goods/bandanna2.jpg' alt='バンダナ' width='100px' height='104px')
            img(src='/images/goods/bandanna3.jpg' alt='バンダナ' width='100px' height='101px')
            p 深みのある色に校門をイラスト化した大人なアイテム。毎年人気の定番シリーズです！
        section
            h3 ペンケース(ドット・紺) 1,100円
            img(src='/images/goods/pencil-case.jpg' alt='ペンケース' width='300px' height='211px')
            p 学生に大人気の“ネオクリッツ”が遂に灘グッズとコラボ！使いやすさとかっこよさを兼ね備えています！
        section
            h3 レポート用紙 300円
            img(src='/images/goods/report-paper.jpg' alt='レポート用紙' width='212px' height='300px')
            p 灘の風景を表紙に散りばめた新商品。各ページに校章、ロゴ、校門のイラストを使っており、文章が精悍に仕上がります！
        section
            h3 その他
            ul
                li 窓付き蛍光ペン (黄 / ピンク / 橙 / 緑 / 水色) 120円
                li シャープペン (青 / 水色 / 緑 / ピンク / 橙) 100円
                li クルトガシャープペン (黒 / 水色 / ピンク) 500円
                li 単色ボールペン (黒 / 青 / 赤) 150円
                li 多機能ペン(2&1ペン) (黒 / ピンク) 900円
                li ユニ鉛筆 (B / 2B) 60円
                li 合格五角形鉛筆(HP) (赤 / 緑) 80円
                li 下敷き (赤 / 緑 / 水色) 150円
                li クリアホルダー (透明 / 水色 / 緑 / 黄 / ピンク) 100円
                li B5ノート (A罫橙 / B罫青) 160円
                li 定規 250円
                li 折り畳み傘 (黒 / 紺) 1,000円
                li 灘校てぬぐい 300円
