extends _subpage.pug

block head
    title 文化委員長挨拶

block main
    h1 文化委員長挨拶
    img(src='/images/kamura.png' width='1024px' height='768px')#kamura
    p 第71回灘校文化祭にて文化委員長を務めております、嘉村昂起です。
    p 本校の文化祭では文化祭参加サークルに関わる生徒、そして文化祭全体をコーディネートする文化委員を中心とし、多くの灘校生が準備に携わっています。50にも上る文化祭参加サークルが文化祭という晴れ舞台で日々の成果を皆様にお披露目できるよう懸命に努力を積み重ねてきました。それらの展示に加え、灘校グッズの販売や装飾、ステージなど2日あっても足りないほどの豊富なコンテンツが用意されています。
    p 今年のテーマは “seek it!” です。生徒はそれぞれの理想を探し求めて準備に励んで参りました。この文化祭が皆様の中で何かに取り掛かるきっかけとなれば幸いです。どうぞごゆっくりお楽しみください。
