extends _subpage.pug

block head
    title 文化委員長挨拶

block main
    h1 文化委員長挨拶
    img(src='images/kamura.jpg' width='960px' height='720px')#kamura
    p 第71回灘校文化祭にて文化委員長を務めております、嘉村昂起です。
    p 本校の文化祭では文化祭参加サークル、そして文化祭全体をコーディネートする文化委員を中心とし、多くの灘校生が準備に携わっています。50にも上るサークルが文化祭という晴れ舞台で日々の成果を皆様にお披露目できるよう、懸命に努力を積み重ねてきました。それに加え、灘校グッズの販売や装飾、ステージと2日あっても足りないほどの豊富なコンテンツが用意されています。
    p 今年のテーマは “Seek it!” です。生徒はそれぞれの理想を探し求めて参りました。この文化祭が皆様の中で何かに取り掛かるきっかけとなれば幸いです。どうぞごゆっくりお楽しみください。
