doctype html
html
    head
        include _head.pug
    body
        header
            h1#caption 第71回灘校文化祭
            img(src='images/logo.svg' alt='Logo' width='200px' height='150px')
            h1#title SEEK IT!
        main
            section
                h2 エリアで探す
                .places
                    each place in places
                        a(href=`${place[0]}/`).place
                            img(src=`images/${place[0]}.png` alt=place[1] width='150px' height='100px')
                            p= place[1]
            section
                h2 時間で探す
            section.links
                a(href='projects').square
                    p 企画一覧を見る
                a(href='goods').square
                    p グッズ販売
                a(href='greeting').square
                    p 文化委員長挨拶
                a(href='map').square
                    p 校内マップ
                a(href='gallery').square
                    p ギャラリー
                a(href='access').square
                    p アクセス
        footer
            
