extends _subpage.pug

block head
    title 校内マップ

block main
    h1 校内マップ
    section
        h2 全体図
        object(type='image/svg+xml' data='/images/all.svg').map
        p 色付きの区域を選択するとそのエリアのページを見ることができます。
    //- Now in development:
    //- section
    //-     h2 1F
    //-     img(src='/images/1f.svg' width='600px' height='400px').map
    //- section
    //-     h2 2F
    //-     img(src='/images/2f.svg' width='600px' height='400px').map
    //- section
    //-     h2 3F
    //-     img(src='/images/3f.svg' width='600px' height='400px').map
    //- section
    //-     h2 4F
    //-     img(src='/images/4f.svg' width='600px' height='400px').map
