extends _subpage.pug

block head
    title 校内マップ

block main
    h1 校内マップ
    section.all
        h2 全体図
        include ../images/all.svg
        p 色付きの区域を選択するとそのエリアのページを見ることができます。
    section#_1f
        h2 1階
        include ../images/1f.svg
        p 灰色の企画を選択するとその企画のページを見ることができます。
    section#_2f
        h2 2階
        include ../images/2f.svg
        p 灰色の企画を選択するとその企画のページを見ることができます。
    section#_3f
        h2 3階
        include ../images/3f.svg
        p 灰色の企画を選択するとその企画のページを見ることができます。
    section#_4f
        h2 4階
        include ../images/4f.svg
        p 灰色の企画を選択するとその企画のページを見ることができます。
