extends _subpage.pug

block head
    title 企画一覧

block main
    h1 企画一覧
    each section in projects
        h2= section.head
        ul
            each project in section.contents
                li.project
                    a(href='/project/'+project.address) #{project.name} (#{project.place})
